<div class="wrap">
  <div class="content-answer">
    <blockquote class="blockquote">
      <p class="mb-0"><%= @query %></p>
      <footer class="blockquote-footer"> You</footer>
    </blockquote>
    <blockquote class="blockquote">
      <p class="mb-0"><%= @coach_answer %></p>
      <footer class="blockquote-footer"> Coach </footer>
    </blockquote>

    <%= link_to "Ask another question", "ask" %>
  </div>
</div>
