<div class="wrap">
  <div class="content">
    <form action="/answer">
      <div class="form-group">
        <label for="question">Speak to your coach</label>
        <input type="text" id="question" name="question" placeholder="what time is it?" class="form-control">
      </div>
      <input type="submit" value="Go on!" class="btn btn-primary">
    </form>
  </div>
</div>
