// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrap {
  display: flex;
  height: 70vh;
  justify-content: space-around;
  align-items: center;
}

.content {
  width: 300px;
}


blockquote {
  margin-top: 100px;
}
